* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#outputBox {
    height: 250px;
}

#serverConfigBox {
    height: 450px;
}

#modsBox {
    height: 500px;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #0DCAF0;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}