* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#outputBox {
    height: 200px;
}

#serverPropertiesBox {
    height: 450px;
}

#modsBox {
    height: 500px;
}

#pluginsBox {
    height: 450px;
}

#plugin-downloader-box {
    height: 426px;
}

#playersBox {
    height: 450px;
}

#v-pills-tab {
    height: 450px;
}

#pills-normal {
    height: 200px;
}

#pills-error {
    height: 200px;
}

#serverCreator-spigotDownloads {
    height: 250px;
}

#control-bar-container {
    -webkit-app-region: drag;
}

#control-bar-controls {
    -webkit-app-region: no-drag;
}

#minimizeButton,
#exitButton {
    position: fixed;
    transition: 0.2s all;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

#minimizeButton {
    top: -8px;
    right: 50px;
}

#exitButton {
    top: -9px;
    right: 13px;
}

#exitButton:hover,
#minimizeButton:hover {
    color: white !important;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #0DCAF0;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}